body {
    margin: 0;
    overflow: hidden;
    background-image: url("img/background-image.png"); /* Replace with your image file */
    background-size: cover;  /* Ensures it covers the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
}

canvas {
    /*display: block;*/
    image-rendering: pixelated; /* Ensures crisp pixel art */
}
