body {
    background-image: url("img/512background-image.png");
    background-size: 1024px 1024px; /* Make the pattern much larger */
    background-repeat: repeat;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast; /* Additional property for webkit browsers */
}

canvas {
    /*display: block;*/
    image-rendering: pixelated; /* Ensures crisp pixel art */
}
